<div class="container mt-4">
  <h4 class="text-primary">{{ productId ? "Edit" : "Add" }} Product</h4>
  <form
    class="col-lg-6 border rounded p-4"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        class="form-control"
        formControlName="price"
        required
      />
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <input
        type="text"
        id="brand"
        class="form-control"
        formControlName="brand"
        required
      />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        class="form-control"
        formControlName="category"
        required
      />
    </div>
    <div class="form-group my-3">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
