<div class="container mt-4">
  <h4 class="text-primary">{{ productId ? "Edit" : "Add" }} Product</h4>
  <form
    class="col-lg-6 border rounded p-4"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        required
      />
      <div
        *ngIf="
          productForm.controls['title'].invalid &&
          (productForm.controls['title'].dirty ||
            productForm.controls['title'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="productForm.controls['title']?.errors?.['required']">
          Title is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
      <div
        *ngIf="
          productForm.controls['description'].invalid &&
          (productForm.controls['description'].dirty ||
            productForm.controls['description'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="productForm.controls['description']?.errors?.['required']">
          Description is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        class="form-control"
        formControlName="price"
        required
      />
      <div
        *ngIf="
          productForm.controls['price'].invalid &&
          (productForm.controls['price'].dirty ||
            productForm.controls['price'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="productForm.controls['price']?.errors?.['required']">
          Price is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <input
        type="text"
        id="brand"
        class="form-control"
        formControlName="brand"
        required
      />
      <div
        *ngIf="
          productForm.controls['brand'].invalid &&
          (productForm.controls['brand'].dirty ||
            productForm.controls['brand'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="productForm.controls['brand']?.errors?.['required']">
          Brand is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        class="form-control"
        formControlName="category"
        required
      />
      <div
        *ngIf="
          productForm.controls['category'].invalid &&
          (productForm.controls['category'].dirty ||
            productForm.controls['category'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="productForm.controls['category']?.errors?.['required']">
          Title is required.
        </div>
      </div>
    </div>
    <div class="form-group my-3">
      <button type="submit" class="btn btn-primary">
        {{ productId ? "Edit" : "Add" }}
      </button>
    </div>
  </form>
</div>
